body{
    background-color: rgba(255, 255, 255, 0.815);
}
.head{
    position: relative;
    height: 30vh;
    width: 100vw;
    padding-top: 10px;
    scroll-padding-bottom: 10px;
    text-align: left;
    /* background-image: url("/img/himg.svg");
    background-repeat: no-repeat;   */
    background-color: RGB(107, 193, 226);
    /* justify-content: center;
    align-items: center;
    place-items: center; */
    /* display: flex; */
    font-family: Arial;
    font-size: 1.5em;
}

.top{
    position: relative;
    margin:0 auto;
    height:40vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    place-items: center;
    align-content: center;
    color: rgb(117, 111, 111);
    background-color: RGB(107, 193, 226);
}
/* h1{
    font-size: 2em;
    color: rgb(241, 241, 232);
} */
.cimg{
    position: absolute;
    width: 100vw;
    margin-top: -5px;
    margin-left: 0px;
}
.pimg{
    position: relative;
    height: 110px;
    padding-top: 10px;
    /* border: 1.5px solid ;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.678); */
}

.name{
    color: rgb(231, 231, 231);
    font-size: 60px;
    padding-left: 15px;
}
ul {
    list-style-type: none;
}
.about{ 
    margin-top: 24vw;
}
#about{
    background-color: rgba(202, 207, 211, 0.336);
}
#section02{
    text-align: center;
}
p{
    font-family: Courier;
}
.btn-light{
    background-color: transparent;
}
.btn-light:hover{
    background-color: rgba(0, 162, 255, 0.301);
}
.card-header{
    background-color: rgba(63, 189, 189, 0.596);
}
.card{
    margin-top: 25px;
    border-radius: 20px;
}
.animation{
    position: relative;
    overflow: hidden;
}
.plane{
    position: relative;
    height: 90px;
    top: 30%;
}
footer{
    height: 20px;
    background-color: rgba(63, 189, 189, 0.596);
    margin-top: 20px;
}